extends layout

block content
  .inner
    h2= title
    form(action="/account" method="post")
      label(for="name") Name
      input(type="text" name="name" id="name" value=user.name)
      label(for="email")
      input(type="text" name="email" id="email" value=user.email)
      input.button(type="submit", value="Update")
